<h1>Register</h1>

<form [formGroup]="registerForm">
    <div>
        <label for="username">Username</label>
        <input placeholder="Username" id="username" type="text" formControlName="username" />
        @if(registerForm.get('username')?.hasError('required')){
            <p class="error" for="username" id="username-required-error">The username field is required</p>
        }
    </div>
    <div>
        <label for="password">Password</label>
        <input placeholder="Password" id="password" type="password" formControlName="password" />
        @if(registerForm.get('password')?.hasError('required')){
            <p class="error" id="password-required-error">The password field is required</p>
        }
        @if(registerForm.get('password')?.hasError('minlength')){
            <p class="error" id="password-minlength-error">The password does not fullfill the minimum 8 characters requirement</p>
        }
    </div>
    <div>
        <button id="register" [disabled]="registerForm.invalid" (click)="register()">Register</button>
    </div>
</form>